{% extends 'base.html' %}

{% block head %}
{% endblock head %}

{% block body %}
<h1>Upload new File</h1>
<section class="image as messages">
{% if imgs %}
  {% for img in imgs %}
  <div class="imageContainer"><b style="color: #000">Message!</b>
    <img src={{img.image_path}} id="addedImage"><br>
  </div>
  {% endfor %}

{% else %}
<div>Just do nothing</div>
{% endif %}
<section id="chatbox">
  <input type="file" id="addedImage"><br>
  <img src="" height="200" alt="Image preview...">
</section>


</section>

{% endblock %}