{% extends 'base.html' %}

{% block head %}
{% endblock head %}

{% block body %}
<div class="indexpage">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div id="backgroundbox">
        <h1>Show me your best image</h1>
        <section class="imagechatbox">
          <span>Upload your best image here and show the world! You will also see other submissions</span>
          <input type="file" id="addedImage" accept="image/*"><br>
          {% if imgs %}
          {% for img in imgs %}
          <div>Images will pop up here...</div>
          <div class="imageContainer">
            <img src={{img.image_path}} class="imagesize"><br>
          </div>
          {% endfor %}
          
          {% else %}
          <div>Images will pop up here...</div>
          {% endif %}

        </section>
      </div>
    </div>
  </div>
</div>

{% endblock %}